@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  padding: 0;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: initial;
  outline: none;
}

.status-spinner {
  @apply !fill-white;
  color: rgb(0 0 0 / 23%) !important;
}

.alert-root>div {
  @apply  !py-3 !px-2;
}

.dots-loader {
  display: flex;
  justify-content: center;
}

.dots-loader>div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
}

.dots-loader.flash-please>div {
  animation: flash-one 0.6s infinite alternate;
}

@keyframes flash-one {
  to {
    opacity: 0.1;
  }
}

.dots-loader>div:nth-child(1) {
  animation-delay: 0.5s;
}

.dots-loader>div:nth-child(2) {
  animation-delay: 0.7s;
}

.dots-loader>div:nth-child(3) {
  animation-delay: 0.9s;
}